*{
    padding: 0;
    margin: 0;
}

.top,
.bottom{
    padding: 20px;

}
a {
    text-decoration: none;
    font-size: 24px;
}
ul {
    list-style: none;
}


.bottom nav {
    margin: auto;
    text-align: center;
}
.bottom nav >ul >li {
    display: inline-block;
    
}
.bottom nav li >a {
    width: auto;
    display: block;
    text-decoration: none;
    position: relative;
    padding: 10px 15px;
    color: antiquewhite;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

nav >ul >li >ul {
    position: absolute;
    bottom: 40px;
    
}
nav >ul >li >ul {
    position: absolute;
    display: none;
}
nav >ul >li >ul >li >ul,
nav >ul >li >ul >li >ul>li>ul {
    position: absolute;
    width: auto;
    left: 100%;
    top: 0px;
    display: none;
    z-index: 2;
    text-decoration: none;
}
nav >ul >li:hover >ul,
nav >ul >li >ul >li:hover >ul,
nav >ul >li >ul >li>ul>li:hover ul {
    display: block;
}

nav li {
    position: relative;
}

nav >ul >li >ul >li {
    width: 140px
}
.icon{
padding: 20px;}
.col-md-6{
    margin-top: 110px;
    margin-bottom: 110px;
    
}
.wrap{
    margin-top: 130px;
    margin-bottom: 130px;
}
.wrap1{
    margin-top: 95px;
    margin-bottom: 95px;
}
.wrap2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrap2 h2{
    text-align: center;
}

.info, .test{
    padding: 100px;
    border-radius: 25px;
    box-shadow:3px 3px 3px 3px #cccccc;
    background-color: antiquewhite;
}
h2, h3{
    text-align: center;
    margin: 40px;
}
h2{
    font-weight: bold;
}
h4{
    font-weight: bold;
}
p {
    margin: 20px;
    text-align: justify-all;
}
.info img{
    float: right;
    width: 60%;
    padding: 30px;
}
h1{
    text-align: center;
    color: #30D5C8;
}
.button {
    margin-top: 20px;
    border: none;
    border-radius: 15px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
.checkmark{
        background-color: rosybrown;}
.round {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
}
.round input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.round:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.round input:checked ~ .checkmark:after {
  display: block;
}

.round .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}




























